<!DOCTYPE html>
<html>
<head>
  <title>Messages</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<style>
  body {
    font-family: Arial, sans-serif;
  }

  h1 {
    text-align: center;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
  }

  .nickname {
    font-weight: bold;
  }

  .message {
    margin-top: 5px;
  }

</style>
<body>
<h1>Messages</h1>
<ul id="message-list"></ul>

<script src="script.js"></script>
</body>
</html>
